@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
    --cor-primaria: #FF0099;
    --cor-secundaria: #3D1C31;
    --cor-tercearia: #FDACE0;
    --cor-branco: white;
    --cor-preto: black;
}

body {
    flex-direction: column;
    height: 100vh;
}
* {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 25px;
}

main {
    flex-grow: 1;
    padding: 0px;
}

.ludo {
    font-size: 40px;
}
#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;

}

#buscar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

#btn-buscar {
   
    background-color: transparent;
    border: none;
    position: absolute;
    right: 12%;
    cursor: pointer;
}
a {
    text-decoration: none;
}
nav {
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tercearia);
    padding: 0.5rem;
    border-bottom: 1px solid var(--cor-preto);
}

nav a:first-child {
    border-right: 1px solid var(--cor-preto);
    
}

.sobre:hover, .catalogo:hover {
    color: #FDACE0;
    padding: 0;
    background-color: #3D1C31;
    transition: all 0.4s ease-out;
}

#main {
    display: flex;
    flex-direction: row;
}

#detalhe-rosa {
    
    height: 160px;
    background-color: var(--cor-primaria);
    clip-path: polygon(50% 65%, 100% 38%, 100% 0, 0 0, 0% 38%);
}
.menu {
    font-size: 25px;
    width: 20%;
    margin: 0;
    border-right: 1px solid var(--cor-preto);
}

.radio {
    height: 20px;
    width: 50px;
}


.titulo-principal {
    font-size: 30px;
    padding-top: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-secundario {
    font-size: 25px;
    padding-bottom: 4rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-categoria {
    font-size: 30px;
    text-align: center;
    
}

.catalogo-grid {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;
}

.catalogo-container {
    width: 100%;
}
#grid-container-flex {

    display: flex;
    justify-content: center;
}

.teste {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.produtos {
    box-shadow: 7px 7px 13px 0 var(--cor-secundaria);
    border: none;
    border-radius: 8px;
    transition: all 0.5s ease-out;
    width: 250px;
    height: 350px;
}
.produtos:hover {
    transform:  translateY(-5px);
    cursor: pointer;
}

.descricao-produto {
    padding: 10px;
    text-align: center;
}

.coracao:hover {
    background-color: red;
    background-color: cover;
}