@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
    --cor-primaria: #FF0099;
    --cor-secundaria: #3D1C31;
    --cor-tercearia: #FDACE0;
    --cor-branco: white;
    --cor-preto: black;
}

body {
    flex-direction: column;
    height: 100vh; 
}
* {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 25px;
}

main {
    flex-grow: 1;
    padding: 0px;
}

.ludo {
    font-size: 40px;
}
#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;

}

#buscar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

#btn-buscar {
   
    background-color: transparent;
    border: none;
    position: absolute;
    right: 12%;
    cursor: pointer;
}
a {
    text-decoration: none;
}
nav {
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tercearia);
    padding: 0.5rem;
    border-bottom: 1px solid var(--cor-preto);
}

nav a:first-child {
    border-right: 1px solid var(--cor-preto);
    
}

.sobre:hover, .catalogo:hover {
    color: var(--cor-tercearia);
    padding: 0;
    background-color: #3D1C31;
    transition: all 0.4s ease-out;
}

#nav-nav {
    padding: 1rem;
    height: 5%;
    background-color: var(--cor-primaria);
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#fundo {
    background-color: var(--cor-tercearia);
}
#tabela {
    
    margin: 1rem;
}
.linha {
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-primaria);
    padding: 0.4rem;
}

#img {
    height: 350px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
}
#imagem {
    border: 1px solid var(--cor-primaria);
}

#tabela-detalhe{
    border: 1px solid var(--cor-primaria);
}

.detalhe-det {
    margin: 1rem;
    background-color: var(--cor-branco);
}
footer {
    display: flex;
    padding: 1rem;
    flex-direction: row-reverse;
    height: 3rem;
    background-color: var(--cor-primaria);
}