<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobre.css">
    <title>Ludo Fashion</title>
</head>

<body>
    <header>
        <a href="home.html" class="ludo">LudoFashion</a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar" alt=""><img src="lupa.png" alt="" width="25px"></button>
        </form>

        <a href="" class="icon-link">
            <img src="perfil.png" alt="">
            Cadastre-se
        </a>

        <a href="duvidas.html" class="icon-link">
            <img src="ajuda.png" alt="Ajuda">
            Dúvidas
        </a>
    </header>

    <nav>
        <a href="" class="catalogo">Catálogo</a>
        <a href="sobre.html" class="sobre">Sobre a Loja</a>
    </nav>

    <main>

        <h1 class="titulo-main">Quem somos?</h1>
        <div class="descricao-img">
            <div class="descricao">
                <p>LudoFashion é uma boutique online que cativa o coração de mulheres modernas e conscientes da moda.
                    Especializada na venda de cosméticos e roupas femininas, a LudoFashion oferece uma seleção
                    cuidadosamente
                    curada de produtos que combinam elegância, estilo e qualidade. Desde os mais recentes lançamentos em
                    produtos de beleza até as últimas tendências em moda feminina, cada item da LudoFashion é escolhido
                    para
                    inspirar confiança e beleza em suas clientes. Com um compromisso inabalável com a qualidade e o
                    serviço ao
                    cliente, a LudoFashion se destaca como um destino confiável para mulheres que buscam expressar sua
                    individualidade através do estilo.</p> <br>
                <p><strong>Visão</strong>: Ser a principal boutique online para mulheres modernas e conscientes da moda,
                    oferecendo uma experiência única e inspiradora. <br>
                    <strong>Missão</strong>: Proporcionar uma seleção cuidadosamente curada de cosméticos e roupas
                    femininas que
                    inspirem confiança e expressão individual, com excelência em qualidade e serviço ao cliente. <br>
                    <strong>Valores</strong>: Excelência, Integridade, Empoderamento.
                </p>
            </div>
            <img src="foto1-rosa.jpg" alt="mulher sorrindo" class="mulher">
        </div>
    </main>

    <footer>
        <img src="foto1.png" alt="logo whatsapp" id="whatsapp" width="60px" height="60px">
        <img src="foto2.png" alt="logo instagram" id="instagram" width="60px" height="60px">
        <img src="foto3.png" alt="logo twitter" id="twitter" width="60px" height="60px">
    </footer>
</body>

</html>